{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content%}
<!--Main layout-->
<main class="mt-5">
    <div class="container">
        <!-- Heading -->
        <h1 class="my-5 text-center">Hubungi Kami</h1>

        <div class="deck-text section">  
          <div class="read-more-wrapper" data-read-more="Read more" data-read-less="Read less">
            <p style="text-align: center;" _msttexthash="20649759" _msthash="579"><b _istranslated="1">Anda dapat mengobrol dengan asisten Virtual kami 24/7 untuk jawaban atas pertanyaan yang sering diajukan,<br>dan dimasukkan ke agen langsung jika Anda memerlukan bantuan lebih lanjut.
            <p style="text-align: center;" _msttexthash="1351012" _msthash="580"><b _istranslated="1">HUBUNGI KAMI</b><br _istranslated="1"> 021-232-WIT<br _istranslated="1"> 021-238-7467 (Bebas pulsa)</p>
            <p style="text-align: center;" _msttexthash="7102056" _msthash="581"><b _istranslated="1">JAM BUKA TOKO 08.00 - 22.00 WIT</b><br _istranslated="1"> Kami menawarkan layanan<br _istranslated="1"> pelanggan 24/7</p>
            <p style="text-align: center;" _msttexthash="1934465" _msthash="582"><b _istranslated="1">MARI TERHUBUNG DI MEDIA SOSIAL</b>
              <br> <a href="https://github.com/Nabilaffa" target="_blank" _istranslated="1">Afinda </a>
              <br> <a href="https://github.com/Khairunnisaee" target="_blank" _istranslated="1">khairunnisa</a>
              <br> <a href="https://github.com/intanjun" target="_blank" _istranslated="1">Intan</a>
              <br> <a href="https://github.com/regginadwip" target="_blank" _istranslated="1">Regina</a>
            <p style="text-align: center;" _msttexthash="5538507" _msthash="583">
            <p style="text-align: center;" _msttexthash="7824895" _msthash="584">Ketika Anda menghubungi Layanan Pelanggan, data pribadi Anda akan diproses sesuai dengan <a href="/en_us/customer-service/legal-and-privacy/privacy-link.html" _istranslated="1">Pemberitahuan Privasi</a> kami.</p>
        
          </div>
</main>
<!--Main layout-->
{% endblock content %}