<footer class="text-center text-white mt-4" style="background-color: #607D8B">
    <hr class="text-dark">
    
    <div class="container">
      <!-- Section: Social media -->
      <section class="mb-3">
  
        <!-- Afinda -->
        <a
          class="btn-link btn-floating btn-lg text-white"
          href="https://github.com/Nabilaffa"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-github"></i
        ></a>
  
        <!-- khairunnisa -->
        <a
          class="btn-link btn-floating btn-lg text-white"
          href="https://github.com/Khairunnisaee"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-github"></i
        ></a>
  
        <!-- Intan -->
        <a
          class="btn-link btn-floating btn-lg text-white"
          href="https://github.com/intanjun"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-github"></i
        ></a>
        <!-- regina -->
        <a
          class="btn-link btn-floating btn-lg text-white"
          href="https://github.com/regginadwip"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2); text-color: #E0E0E0">
      © <script>document.write(new Date().getFullYear());</script>
      | Final Project WIT Batc 1 - B2 <i class="fas fa-heart text-danger"></i>
    </div>
    <!-- Copyright -->
  </footer>